# Dependências - Ocupam muito espaço e não devem ser versionadas
frontend/node_modules/
backend/vendor/

# Segurança - Arquivos que contêm senhas reais
.env
backend/.env
frontend/.env

# Temporários e Logs - Podem conter dados da sua máquina
backend/*.txt
frontend/dist/
.DS_Store